.flex-container {
	min-height: 100%;
	min-height: 100vh;	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
	background: #666;
}

.row {
	padding: 1em 5em;
}

#temperature:hover {
	color: red;
}

#time {
	font-style: italic;
}

#weather {
	font-size: 4em;
}