.flex-container {
	min-height: 100%;
	min-height: 100vh;	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
/*	padding: 0px;*/

}

.row {
	background: rgba(50, 50, 50, 0.5);
	border-radius: 5px;
	padding-top: 1em;
}

.col-xs-12 {
	padding: 0px;
}

.btn {
	width: 100%;
}

#temperature:hover {
	color: red;
}

#time {
	font-style: italic;
}

#weather {
	font-size: 4em;
}

#location, #hourlySummary {
	font-size: 2em;
}

#minutelySummary, #time, .btn {
	font-size: 	1.5em;
}

#weatherData {
	margin: 1em auto;
	background: rgba(15, 15, 15, .7);
}

#weatherData div {
	display: inline-block;
	margin: auto 5px;
}