body {
	font-size: 2em;
}

.flex-container {
	min-height: 100%;
	min-height: 100vh;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
	background: #F9F9F9;
}

#temperature:hover {
	color: red;
}